@font-face {
    font-family: "AGENCYR";
    src: url("../fonts/AGENCYR.TTF");
}

@font-face {
    font-family: "AGENCYB";
    src: url("../fonts/AGENCYB.TTF");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("../fonts/JosefinSans-Light.ttf");
}

@font-face {
    font-family: "JosefinSans-ExtraLight";
    src: url("../fonts/JosefinSans-ExtraLight.ttf");
}

@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Thin";
    src: url("../fonts/JosefinSans-Thin.ttf");
}

@font-face {
    font-family: "JosefinSans-Bold";
    src: url("../fonts/JosefinSans-Bold.ttf");
}

*/
/*************************\
*******VARIABLES***********
\*************************/

:root {
    --verde: #446138;
    --verde-claro: #6c9759;
    --gris-claro: #c5c5c5;
    --gris-oscuro: #131310;
    --negro: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: AGENCYR;
    font-size: 1.3rem;
    background: #070707;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    background: #446138;
    border-radius: 25px;
    color: #fff;
    padding: 0.2rem 1rem;
    margin-top: 2rem;
    font-family: 'JosefinSans-ExtraLight';
    font-size: .85rem;
    padding-left: 3rem;
    padding-top: 12px;
    padding-bottom: 8px
}

.btn-whats:before {
    content: '';
    background: url('../img/whatsapp.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-left: -25px;
    margin-top: -4px;
    width: 20px;
    height: 20px;
    float: left;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fuente-verde {
    color: #446138 !important;
}

.fuente-verde-claro {
    color: #6c9759 !important;
}

.fnt-green {
    color: #6c9759;
}

.fnt-white {
    color: #fff;
}

.jslight {
    font-family: "JosefinSans-Light";
}

.jsbold {
    font-family: "JosefinSans-Bold";
}

.jsthin {
    font-family: "JosefinSans-Thin";
}

img.escudo {
    width: 5%;
}

.sticker {
    width: 80px;
    height: 80px;
}

.sticker-escudo .sticker-img {
    background-image: url(../img/escudo.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.flecha-md {
    width: 80px;
    display: inline-block;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 3.5rem;
}

.list-container .list-item-bullet {
    margin-right: 1rem;
}

.list-container .list-item-bullet img {
    width: 5.5rem;
}

.mobile-logo {
    display: none;
}

.menu-button {
    width: 35px;
    position: fixed;
    margin: 2rem;
    right: 0;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    height: 30px;
    display: none;
}

.menu-button .line {
    width: 100%;
    height: 4px;
    background: #c5c5c5;
    position: relative;
    transition: 1s ease;
}

.menu-button .line:nth-of-type(2) {
    margin: 0.5rem 0;
}

.menu-button .line-1 {
    transform: rotate(45deg);
    top: 13px;
    position: absolute;
}

.menu-button .line-2 {
    display: none;
}

.menu-button .line-3 {
    transform: rotate(135deg);
    top: 13px;
    position: absolute;
}

.mobile-menu {
    display: none;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: #446138;
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.mobile-menu ul {
    position: relative;
    top: 20%;
    padding: 0;
}

.mobile-menu ul li {
    list-style: none;
}

.mobile-menu ul li a {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #c5c5c5;
    font-size: 3rem;
    overflow: hidden;
    position: relative;
}

.mobile-menu ul li a:after {
    content: '';
    background: #0e0e0e;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 1;
    transition: 0.4s ease;
    color: #c5c5c5;
}

.mobile-menu ul li a:hover,
.mobile-menu ul li a:active {
    color: #446138;
    background-color: #000;
}

.open {
    right: 0;
    opacity: 1;
    visibility: visible !important;
}

.main-menu {
    background-color: #306131;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.main-menu img {
    width: 100px;
    float: left;
    margin: 10px 30px 10px 80px;
}

.main-menu ul {
    position: relative;
    padding: 0;
}

.main-menu ul li {
    list-style: none;
    float: left;
    margin: 18px 20px;
}

.main-menu ul li a {
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1.3rem;
    position: relative;
}

.main-menu ul li a:hover {
    color: #6c9759;
}

@media(max-width: 700px) {
    header {
        height: 90px;
        background-color: #316132;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
    }
    main.container {
        margin-top: 90px
    }
    .mobile-logo {
        display: block;
    }
    .mobile-logo img {
        width: 150px;
        margin: 15px 20px;
    }
}

section {
    display: flex;
    margin-bottom: 1rem;
}

#main-section .section-info {
    margin-top: -340px;
    padding-left: 50px;
    padding-bottom: 15px;
    color: #fff;
}

#main-section .section-info h1 {
    font-size: 4.5rem;
}

#main-section .section-info p {
    font-size: 1.4rem;
    color: #858583;
}

#main-section .section-info .section-text {
    padding-left: 15px;
}

@media(max-width: 700px) {
    .menu-button {
        display: block;
    }
    .mobile-menu {
        visibility: hidden;
        display: block;
    }
    .main-menu {
        display: none;
    }
    #main-section .section-content .section-img {
        width: 200%;
        margin-left: -200px;
    }
    #main-section .section-content .section-img img {
        width: 120%;
        margin-left: -140px;
    }
    #main-section .section-info {
        margin-top: -200px;
        padding-left: 0rem;
    }
    #main-section .section-info div {
        padding-left: 0;
    }
}

#section-couple {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#section-couple .section-header {
    background: url(../img/paint_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#section-couple .section-header .section-header-info {
    margin-top: 180px;
    margin-bottom: 200px;
    padding-left: 50px;
    max-width: 30rem;
}

#section-couple .section-header .section-header-info h1 {
    font-size: 4.5rem;
    line-height: 4.4rem;
    font-family: "AGENCYB";
}

#section-couple .section-header .section-header-info h2 {
    font-weight: lighter;
}

#section-couple .section-header img {
    display: none;
}

@media(max-width: 700px) {
    #section-couple {
        margin-bottom: -450px;
    }
    #section-couple .section-header img {
        visibility: hidden;
        display: block;
    }
    #section-couple .section-header {
        background: url(../img/paint_2-alt.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #section-couple .section-header .section-header-info {
        margin-top: 30px;
        padding-left: 30px;
        padding-top: 50px;
    }
    #section-couple .section-header .section-header-info h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    #section-couple .section-header .section-header-info h2 {
        line-height: 1.3rem;
    }
    #section-couple .section-header .section-header-info a {
        margin-top: .8rem;
    }
}

#section-liability {
    background-color: #316132;
    min-height: 10rem;
    padding-bottom: 50px;
    margin-bottom: 0 !important;
}

#section-liability .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#section-liability .section-content .section-info-left .section-img {
    margin-left: 0px;
}

#section-liability .section-content .section-info-left .section-text {
    margin-top: -160px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#section-liability .section-content .section-info-left .section-text h2 {
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "AGENCYR";
}

#section-liability .section-content .section-info-left .section-text h2 img {
    margin-left: 30px;
    margin-bottom: 15px;
}

#section-liability .section-content .section-info-left .section-text h1 {
    font-size: 4.5rem;
    line-height: 4.4rem;
    font-family: "AGENCYB";
}

#section-liability .section-content .section-info-right {
    font-family: "JosefinSans-Light";
    font-size: 1.6rem;
    margin-top: 6rem;
    max-width: 350px;
}

@media(max-width: 700px) {
    #section-liability {
        min-height: 1040px;
        padding-top: 65px;
    }
    #section-liability .section-content {
        display: flex;
        flex-direction: column;
        padding-left: 60px
    }
    #section-liability .section-content .section-info-left .section-img {
        display: none;
    }
    #section-liability .section-content .section-info-left .section-text {
        margin-top: 50px;
        margin-left: -70px;
    }
    #section-liability .section-content .section-info-left .section-text .flecha-md {
        display: none;
    }
    #section-liability .section-content .section-info-right {
        margin-left: 15px;
        font-size: 2rem;
        max-width: 80%;
    }
}

#section-full-cover {
    display: flex;
    flex-direction: column;
}

#section-full-cover .section-header {
    background: url(../img/paint_3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#section-full-cover .section-header .section-header-info {
    margin-top: 320px;
    margin-bottom: 100px;
    margin-left: 150px;
}

#section-full-cover .section-header .section-header-info h1 {
    font-size: 4.5rem;
    line-height: 4.4rem;
    font-family: "AGENCYB";
}

#section-full-cover .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section-full-cover .section-content .section-info-left {
    margin-top: -60px;
    margin-left: 150px;
}

#section-full-cover .section-content .section-info-left p {
    margin: .2rem 0;
}

#section-full-cover .section-content .section-info-left img {
    margin-left: 200px;
    margin-top: -18px;
}

#section-full-cover .section-content .section-info-right {
    font-family: "JosefinSans-Light";
    font-size: 1.6rem;
    max-width: 350px;
    padding: 80px 0;
}

@media(max-width: 700px) {
    #section-full-cover .section-header {
        background: url(../img/paint_3-alt.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 650px !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #section-full-cover .section-header .section-header-info {
        margin-top: 600px;
        margin-left: 20px;
        margin-bottom: 0;
    }
    #section-full-cover .section-header .section-header-info h1 {
        font-size: 3.2rem;
        line-height: 3rem;
    }
    #section-full-cover .section-content {
        display: flex;
        flex-direction: column;
    }
    #section-full-cover .section-content .section-info-left {
        font-size: 1.6rem;
        margin-top: 10px;
        margin-left: 20px;
    }
    #section-full-cover .section-content .section-info-left .flecha-md {
        display: none;
    }
    #section-full-cover .section-content .section-info-right {
        margin: 1rem 0 1rem 1rem;
        max-width: 90%;
        font-size: 2rem;
    }
}

#section-tiempo {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background: url(../img/green-background.jpg);
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-bottom: 100px;
    margin-bottom: 0;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section-tiempo .section-info-left {
    max-width: 200px;
    margin-left: 200px;
    margin-top: 80px;
}

#section-tiempo .section-info-left p {
    font-size: 2rem;
    text-align: right;
}

#section-tiempo .section-info-middle img {
    width: 20rem;
    margin-left: -50px;
}

#section-tiempo .section-info-right {
    font-family: "AGENCYB";
    font-size: 6rem;
    margin-top: 95px;
    margin-left: 15px;
}

@media(max-width: 700px) {
    #section-tiempo {
        display: flex;
        flex-direction: column;
        padding: 240px 0;
    }
    #section-tiempo .section-info-left {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
    }
    #section-tiempo .section-info-left p {
        text-align: center;
        font-size: 3rem;
        margin: 40px 10px;
    }
    #section-tiempo .section-info-middle {
        text-align: center;
    }
    #section-tiempo .section-info-middle img {
        width: 15rem;
        margin-left: 0;
    }
    #section-tiempo .section-info-right {
        text-align: center;
        margin-top: -20px;
    }
    #section-tiempo .section-info-right p {
        font-size: 5.5rem;
        margin-top: -20px
    }
}

#section-cuidalo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 600px !important;
}

#section-cuidalo .section-header {
    background: url(../img/paint_4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px !important;
}

#section-cuidalo .section-header .section-header-info {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 4rem;
}

#section-cuidalo .section-header .section-header-info img {
    display: none !important;
}

#section-cuidalo .section-header .section-header-info h1 {
    font-size: 10rem;
    font-family: "AGENCYB";
}

#section-cuidalo .section-header .section-header-info h2 {
    font-size: 3.8rem;
    font-family: "AGENCYR";
}

@media(max-width: 700px) {
    #section-cuidalo .section-header {
        background: url(../img/paint_4-alt.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #section-cuidalo .section-header .section-header-info {
        padding-top: 120px;
        margin-top: 0;
        margin-left: 1rem;
        margin-bottom: 0;
        min-height: 1150px !important;
    }
    #section-cuidalo .section-header .section-header-info img {
        display: block !important;
        visibility: hidden;
    }
    #section-cuidalo .section-header .section-header-info h1 {
        font-size: 6rem;
        font-family: "AGENCYB";
    }
    #section-cuidalo .section-header .section-header-info h2 {
        font-size: 4rem;
        font-family: "AGENCYR";
    }
}

#section-kit {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    min-height: 600px !important;
}

#section-kit .section-header {
    background: url(../img/paint_5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px !important;
    padding: 40px 0;
}

#section-kit .section-header .section-header-info {
    margin-top: 40px;
    margin-bottom: 290px;
    margin-left: 4rem;
}

#section-kit .section-header .section-header-info h1 {
    font-size: 3.2rem;
    font-family: "AGENCYR";
    color: #446138;
}

#section-kit .section-header .section-header-info h2 {
    font-size: 1.2rem;
    font-family: "AGENCYR";
    color: #446138;
}

#section-kit .section-header .section-header-info img {
    margin-left: 135px;
    margin-top: -35px;
    width: 60px;
}

@media(max-width: 700px) {
    #section-kit .section-header {
        background: url(../img/paint_5-alt.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 1200px !important;
        webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #section-kit .section-header .section-header-info {
        margin-top: 20px;
        margin-bottom: 450px;
        margin-left: 2rem;
        padding-top: 70px !important;
    }
    #section-kit .section-header .section-header-info h1 {
        font-size: 5rem;
    }
    #section-kit .section-header .section-header-info h2 {
        font-size: 2.5rem;
    }
    #section-kit .section-header .section-header-info img {
        margin-left: 200px;
        margin-top: -70px;
        width: 75px;
    }
}

#section-partners {
    flex-direction: column;
    text-align: center;
    background: url(../img/green-background.jpg);
    min-height: 38rem;
    padding: 170px 0;
    margin-bottom: 0 !important;
    color: #c5c5c5;
}

#section-partners p {
    font-size: 2rem;
}

#section-partners h1 {
    font-size: 4rem;
    font-family: "AGENCYR";
}

#section-partners .carrusel-container {
    margin-top: 7rem;
}

.progressive-size {
    display: none;
}

@media(max-width: 700px) {
    .full-size {
        display: none;
    }
    .progressive-size {
        display: block;
    }
    #section-partners {
        padding: 280px 0;
    }
    #section-partners p {
        font-size: 1.3rem;
    }
    #section-partners h1 {
        font-size: 3rem;
        font-family: "AGENCYR";
    }
    #section-partners .carrusel-container {
        margin-top: 4rem;
    }
    .splide__pagination {
        margin-top: 150px !important;
    }
    .splide__track {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .splide__arrow.splide__arrow--prev {
        margin-left: 20px !important;
    }
    .splide__arrow.splide__arrow--next {
        margin-right: -35px !important;
    }
}

.splide__track ul li embed {
    width: 100px;
}

.splide__track {
    width: 80%;
    margin-left: 100px;
}

.splide__arrow.splide__arrow--prev {
    margin-left: 70px;
    background-image: url(../img/carusel-flecha-izquierda.svg);
    background-color: transparent;
    background-size: 10px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 40px;
}

.splide__arrow.splide__arrow--next {
    margin-right: 0px;
    background-image: url(../img/carusel-flecha-derecha.svg);
    background-color: transparent;
    background-size: 10px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 40px;
}

.splide__pagination {
    margin-top: 30px;
    top: 100px;
}

#footer {
    flex-direction: column;
    color: #446138;
    margin-bottom: 0;
}

#footer .titulo {
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-left: -130px;
}

#footer .titulo {
    text-align: center;
}

#footer .titulo h6 {
    font-size: 1.8rem;
}

#footer .titulo h2 {
    font-size: 3.5rem;
}

#footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer .footer-container .footer-left {
    background: url(../img/footer_left.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#footer .footer-container .footer-right {
    background-color: #c5c5c5;
    padding-top: 2rem;
}

#footer .footer-container .footer-right .footer-info {
    margin-top: 180px;
    margin-left: 40px;
    font-size: 0.8rem;
    font-family: "JosefinSans-Thin";
}

#footer .footer-container .footer-right .footer-info .sucursal p {
    line-height: 1rem;
}

#footer .footer-container .footer-right .footer-info .sucursal .sucursal-titulo {
    margin: 20px 0;
}

#footer .footer-container .footer-right .footer-info .sucursal .sucursal-titulo p {
    font-family: "JosefinSans-Regular";
    text-transform: uppercase;
}

#footer .footer-container .footer-right .footer-info .redes-sociales {
    margin: 20px 0 30px 0;
}

@media(max-width: 700px) {
    #footer .titulo {
        margin: 0;
        margin-left: 30px;
    }
    #footer .footer-container {
        display: flex;
        flex-direction: column;
    }
    #footer .footer-container .footer-left {
        background-size: contain;
    }
    #footer .footer-container .footer-right {
        margin-top: -10px;
    }
    #footer .footer-container .footer-right .footer-info {
        margin-top: 150px;
    }
}